* {
    box-sizing: border-box;
}

.div1 {
    height: 774px;
    margin-left: 30px;
    font-family: 'Roboto', sans-serif;
    width: 350px;
    background-color: hsl(0, 1%, 26%)
}

.divv2 {
    width: 600px;
    background-color: white;
    margin-left: 50px;
}

.contenedor {
    display: flex;

}

h1 {
    margin: 50px;
}

img {
    margin-top: 30px;
    margin-left: 110px;
    border-radius: 300px;
}

.colorTexto {
    color: white;
}
p, h3, li {
    margin-left: 30px;}
    




button{
    margin-bottom: 50px;
    margin-left: 50px;
   
}
.txt {
    color: black;
    font-family:  'Roboto', sans-serif;
}
h2, h4, ul, li { 
    margin-left: 20px;
}
header {

    border: solid;
    background-color: black;
    margin-bottom: 20px ;
};
.parrafo {
    text-align: center;
    font-size: 20px ;
    color: white;
}